<div style="display: flex; justify-content: space-between">
  <button style="flex: 0 1 32%" (click)="onClickRegistration()">User Registration</button>
  <button style="flex: 0 1 32%" (click)="onClickLogin()">Login</button>
  <button style="flex: 0 1 32%" (click)="onClickCreateHouse()">Create House</button>
</div>

<app-register-component
  [regStatus] = regStatus
  [applyRegisterForm] = applyRegisterForm
  [user]= user
  [arrOfUsers]= arrOfUsers
  [isUserPresent]= isUserPresent
></app-register-component>

<app-login
  [logStatus] = logStatus
  [applyLoginForm] = applyLoginForm
  [userLogin] = userLogin
  [arrOfUsers] = arrOfUsers
  [isUserPresent] = isUserPresent
></app-login>
<app-create-house
  [createHouseStatus] = createHouseStatus
  [applyCreateHouseForm] = applyCreateHouseForm
  [house] = house
  [arrOfUsers] = arrOfUsers
  [arrOfHouses] = arrOfHouses
></app-create-house>

<app-search
  [applyFindHouse] = applyFindHouse
  [findHouseParams] = "findHouseParams"
  [arrOfHouses] = "arrOfHouses"
  [searchArray] = "searchArray"
  [searchStatus] = "searchStatus"
  [arrToShow] = "arrToShow"
  [showButtonIndex] = "showButtonIndex"
  [onShowMore] = "onShowMore"
  [onHide] = onHide
></app-search>



